* {
    padding: 0;
    margin: 0;
}

ol,
ul {
    list-style-type: none;
}

a {
    text-decoration: none;
}

.left{
    float: left;
}

.right{
    float: right;
}

#daohanglan,
#banner,
#shiming,
#jishu,
#fuwu,
#fuwuneirong,
#quyu,
#quyuditu,
#zixun
{
    height: 100%;
    width: 100%;
    border: 1px solid #000;
}
.container{
    width: 1280px;
    height: 100px;
    border: 1px solid red;
    margin:0px auto;
}
.containor{
    margin: auto;
    width: 1280px;
    /* height: 200px; */
    padding-top: 40px;
    background-color: rgb(240,239,239);
    padding-bottom: 30px;
}
.containor_{
    margin: auto;
    width: 1280px;
    /* height: 200px; */
    padding-top: 10px;
    background-color: rgb(240,239,239);
    padding-bottom: 10px;
}

#logo{
    background-color: rgb(240,239,239);
    
}
#table_ table,td,th{
    text-align:left;
    width: 25%
}

#table_ table{
    width: 1000px;
    height: 600px;
}
#table_ th{
    font-size: 21px;
    padding-top: 8px;
    padding-bottom: 8px;
}
#table_ td{
    font-size:14px;
    padding-top: 4px;
    padding-bottom: 4px;
}
#table_ a{
    color:rgb(102,100,100);
}
#table_ a:hover{
    color:rgb(52,168,112);
}

/* 导航栏样式 */

#daohanglan{
    width: 100%;
    height: 72px;
    position: fixed;    
    background-color: transparent;
    z-index: 100;
}

#daohanglan .container{
    width: 1200px;
    height: 72px;
    /* height: 400px; */
    margin: 0px auto;
    position: relative;
    /* background-color: gray; */
}

#daohanglan .bgcontainer{
    width: 100%;
    height: 72px;
    /* height: 400px; */
    margin: 0px auto;
    position: relative;
}

#daohanglan .dhllogo{
    width:140px;
    height: 72px;
    line-height: 72px;
}

#daohanglan img{
    margin: 15px;
}

#daohanglan .before .dhllist{
    width: 700px;
    position: relative;
}


#daohanglan .before li{
    font-weight: bold;
    width: 120px;
    margin-top: 20px;
    text-align: center;
    background-color: transparent;
}
#daohanglan .before li{
    color: white;
}
#daohanglan .before{
    background-color: transparent;
    display: block;
}

#daohanglan .after{
    display:none;
}
#daohanglan .after .dhllist{
    width: 700px;
    color: black;
    position: relative;
}

#daohanglan .after li{
    height: 200px;
    width: 120px;
    text-align: center;
    margin: 0px 0px 0 0px;
}
#daohanglan .containerhover:hover{
    background-color: white;
    height: 400px;
}
#daohanglan .containerhover{
    background-color: transparent;
}

#daohanglan .ddhover:hover{
    display: block;
}
#daohanglan .ddhover{
    display: none;
}


#daohanglan  .title1{
    position: absolute;
    top:3px;
    left: 0px;
}

#daohanglan  .title2
{
    position: absolute;
    top:3px;
    left: 110px;
}
#daohanglan  .title3{
    position: absolute;
    top:3px;
    left: 240px;
}
#daohanglan .title4{
    position: absolute;
    top:3px;
    left: 380px;
}
#daohanglan .title5{
    position: absolute;
    top:3px;
    left: 500px;
}

#daohanglan .after dt{
    font-weight: bold;
    margin: 20px 0 5px;
}

#daohanglan .after dd{
    margin: 30px 0;
    font-size: 14px;
    color: black;
    display: none;
}
#daohanglan .after dd:first-child{
    margin-top: 10px;
}
#daohanglan .after .lihover:hover dd{
    display: block;
}

#daohanglan .after .lihover dd{
    display: none;
}

#daohanglan .after dt a{
    color: black;
}
#daohanglan .after dd a{
    color: #686564;
}
#daohanglan .after dd a:hover{
    color: #3E3A39;
}

#daohanglan .after .lihover:hover div{
    display: block;
    transform: translateX(17px);
}

#daohanglan .after .lihover div{
    visibility: visible;
    display: block;    
    transition: all 1s; 
}

#daohanglan .after li div{
    visibility: hidden;
    background-color: #25A266;
    width: 25px;
    height: 3px;
    margin: 20px 0 20px 30px;
}
/* 横幅样式 */

#banner .container{
    width: 100%;
    height: 100%;
    overflow: hidden;
}
