* {
    padding: 0;
    margin: 0;
}

ol,
ul {
    list-style-type: none;
}

a {
    text-decoration: none;
}

.left{
    float: left;
}

.right{
    float: right;
}

#daohanglan,
#banner,
#quyuneirong
{
    height: 100%;
    width: 100%;
    /* border: 1px solid red; */
}
.container{
    width: 1280px;
    height: 100px;
    margin:0px auto;
    /* border: 1px solid black; */
}
/* logo */
#logo{
    background-color: rgb(240,239,239);
    
}
.containor{
    margin: auto;
    width: 1280px;
    /* height: 200px; */
    padding-top: 40px;
    background-color: rgb(240,239,239);
    padding-bottom: 30px;
}
/* 下方表格 */
.containor_{
    margin: auto;
    width: 1280px;
    /* height: 200px; */
    padding-top: 10px;
    background-color: rgb(240,239,239);
    padding-bottom: 10px;
}
/* 左表格 */
#table_ th{
    font-size: 21px;
    padding-top: 8px;
    padding-bottom: 8px;
    text-align:left;
    width: 25%
    
}
p.tabelleft{
    color:rgb(77,74,73);
}
#table_ td{
    font-size:16px;
    padding-top: 4px;
    padding-bottom: 4px;
    text-align:left;
    width: 25%
}
#table_ {
    width:730px;
}
#table_ a{
    color:rgb(102,100,100);
}
#table_ a:hover{
    color:rgb(52,168,112);
}

/* 右表格 */
#tabel__  table{
    width:"70%";
}
#tabel__picture1 img{
    width:148px;
    height:148px;
}
#tabel__ td{
    padding-left:  10px;
    padding-right: 10px;
    font-size: 14px;
}
#tabel__ p{
    text-align: center;
    color: rgb(240,239,239);
    background-color: rgb(28,161,102);
    font-size: 15px;
    padding: 2px;
}
p.tabel__p{
    text-align: center;
    color: rgb(240,239,239);
    background-color: rgb(28,161,102);
    font-size: 11px;
    padding: 1px;
    display:inline
}
img.tabel__picture2{
     width: 29px;
     height: 29px;
     vertical-align: middle; 
}
#yejiao{
    color: rgb(102,100,100);
    background-color: rgb(240,239,239);
    text-align: center;
    padding-top: 15px;
    padding-bottom: 18px;
    font-size: 12px;
}

/* 咨讯动态 */
#zixun{
    margin: auto;
    width: 1280px;
    
    margin-bottom: 20px;
}
#zixun_tabel td{
    width: 30%;

}
#zixun div{
    background-color: rgb(255,255,255);
}
.greenline{
    background-color: rgb(37,162,102);
    width:61px;
    height: 7px;
}

#zixun_title{
    padding-bottom: 15px;
    padding-top: 15px;
    font-size: 25px;
    font-weight: bold;
    vertical-align: middle; 
}
#zixun_a{
    color:rgb(102,100,100);
}
#zixun a:hover{
    color:rgb(52,168,112);
}
#zixun_tabel{
    width: 1280px;
    clear: both;
    margin: auto;
}
#zixun__ a{
    font-size: inherit;
    font-weight: inherit;
    color: inherit;
}
#zixun__ a:hover{
    color: inherit;
}
#zixun__ h4{
    font-size: 20px;
}
#zixun__ td{
    vertical-align:top;
}
#zixun_text a{
    font-size: inherit;
    font-weight: inherit;
    color: inherit;
}
#zixun_text  a:hover{
    color: inherit;
}
#zixun_bottom a{
    font-size: inherit;
    font-weight: inherit;
    color: inherit;
}
#zixun_bottom a:hover{
    color: inherit;
}
#zixun_bottom img{
    vertical-align: middle;
}
/* 安厨服务&安厨服务区域地图&安厨使命 */
#quyuditu_ div,#fuwu div,#shiming div{
    width: 1280px;
    margin-left:auto;
    margin-right:auto;
    text-align:center;
}
#quyuditu_text, #fuwu_text{
    margin-left:auto;
    margin-right:auto;
    text-align:center;
    width:700px;
    font-size: 18px;
    line-height: 35px;
    color: rgb(142,142,142);
}
#shiming_text{
    margin-left:auto;
    margin-right:auto;
    text-align:center;
    width:900px;
    font-size: 18px;
    line-height: 35px;
    color: rgb(142,142,142);
}
#quyuditu_ h5,#fuwu h5,#shiming h5{
    font-size: 28px;
}
#fuwu_a,#shiming_a{
    color: rgb(255,255,255);
    background-color: rgb(28,161,102);
    padding: 5px;
}
#fuwu_a:hover,#shiming_a:hover{
    color:rgb(255,255,255);
}

#card1{
    width: 410px;
    height: 260px;
    background-image: url(../img/ae4b69d6db75748539b997410c24952e.png);
    background-repeat: no-repeat;
    display: inline-block;
    position: relative;    
}
#card2{
    width: 410px;
    height: 260px;
    background-image: url(../img/6dc2fb81db06ff0c679f6443634368f6.png);
    background-repeat: no-repeat;
    display: inline-block;
    position: relative;    
}
#card3{
    width: 410px;
    height: 260px;
    background-image: url(../img/398fa772afedf0dfcbf5a96b78092889.png);
    background-repeat: no-repeat;
    display: inline-block;
    position: relative;    
}

#card1:hover,#card2:hover,#card3:hover{
    opacity:0.7;

}
#card1 span,#card2 span,#card3 span{
    position: absolute;
    left: 160px;
    top: 130px;
    font-size: 25px;
    color: white;
    font: bold;
    transition: 0;
}
#card1:hover span,#card2:hover span,#card3:hover span{
    font-size:20px;
    top: 100px;
    left:170px;
}
#shiming_tabal{
    width: 1280px;
    margin: auto;
}


#card1:hover p.case1,#card2:hover p.case1,#card3:hover p.case1{
    visibility: visible;
    display: block;  
    left: 170px;  
    width:75px;
}

#card1  p.case1,#card2  p.case1,#card3  p.case1{
    visibility: hidden;
    position: absolute;
    left: 200px;
    top: 130px;
    background-color: white;
    width: 15px;
    height: 2px;
    transition: all 0.2s; 
}
#card1 p.case2,#card2 p.case2,#card3 p.case2{
    visibility: hidden;
    position: absolute;
    top:240px;
    left: 140px;
    color: white;
    font: 12px;
    transition: all 0.2s;
}
#card1:hover p.case2,#card2:hover p.case2,#card3:hover p.case2{
    visibility: visible;
    display: block;
    top:140px;
}
/* 导航栏样式 */

#daohanglan{
    width: 100%;
    height: 72px;
    position: fixed;    
    background-color: transparent;
    z-index: 100;
}

#daohanglan .container{
    width: 1200px;
    height: 72px;
    /* height: 400px; */
    margin: 0px auto;
    position: relative;
    /* background-color: gray; */
}

#daohanglan .bgcontainer{
    width: 100%;
    height: 72px;
    /* height: 400px; */
    margin: 0px auto;
    position: relative;
}

#daohanglan .dhllogo{
    width:140px;
    height: 72px;
    line-height: 72px;
}

#daohanglan img{
    margin: 15px;
}

#daohanglan .before .dhllist{
    width: 700px;
    position: relative;
}


#daohanglan .before li{
    font-weight: bold;
    width: 120px;
    margin-top: 20px;
    text-align: center;
    background-color: transparent;
}
#daohanglan .before li{
    color: white;
}
#daohanglan .before{
    background-color: transparent;
    display: block;
}

#daohanglan .after{
    display:none;
}
#daohanglan .after .dhllist{
    width: 700px;
    color: black;
    position: relative;
}

#daohanglan .after li{
    height: 200px;
    width: 120px;
    text-align: center;
    margin: 0px 0px 0 0px;
}
#daohanglan .containerhover:hover{
    background-color: white;
    height: 400px;
}
#daohanglan .containerhover{
    background-color: transparent;
}

#daohanglan .ddhover:hover{
    display: block;
}
#daohanglan .ddhover{
    display: none;
}


#daohanglan  .title1{
    position: absolute;
    top:3px;
    left: 0px;
}

#daohanglan  .title2
{
    position: absolute;
    top:3px;
    left: 110px;
}
#daohanglan  .title3{
    position: absolute;
    top:3px;
    left: 240px;
}
#daohanglan .title4{
    position: absolute;
    top:3px;
    left: 380px;
}
#daohanglan .title5{
    position: absolute;
    top:3px;
    left: 500px;
}

#daohanglan .after dt{
    font-weight: bold;
    margin: 20px 0 5px;
}

#daohanglan .after dd{
    margin: 30px 0;
    font-size: 14px;
    color: black;
    display: none;
}
#daohanglan .after dd:first-child{
    margin-top: 10px;
}
#daohanglan .after .lihover:hover dd{
    display: block;
}

#daohanglan .after .lihover dd{
    display: none;
}

#daohanglan .after dt a{
    color: black;
}
#daohanglan .after dd a{
    color: #686564;
}
#daohanglan .after dd a:hover{
    color: #3E3A39;
}

#daohanglan .after .lihover:hover div{
    display: block;
    transform: translateX(17px);
}

#daohanglan .after .lihover div{
    visibility: visible;
    display: block;    
    transition: all 0.5s; 
}

#daohanglan .after li div{
    visibility: hidden;
    background-color: #25A266;
    width: 25px;
    height: 3px;
    margin: 20px 0 20px 30px;
}
/* 横幅样式 */

#banner .container{
    width: 100%;
    height: 100%;
    overflow: hidden;
}

/* 区域内容样式 */

#quyuneirong .container{
    height: 720px;
    width: 100%;
    background-color: #2F2725;
    display: inline-block;
}

#quyuneirong .quyuleft{
    width: 36%;
    height: 720px;

}

#quyuneirong .quyuleft a{
    color: #8E8E8E;
    height: 180px;
}
#quyuneirong .quyuleft h3{
    display: inline-block;
    font-size: 30px;
    line-height: 30px;
    margin: 50px 140px 5px 200px;   
    position: relative;
    width: 100%;
}
#quyuneirong .quyuleft li{
    display: inline-block;
    height: 180px;
}
#quyuneirong .quyuleft p{
    display: inline-block;
    margin: 10px 140px 5px 200px;
    width: 100%;   
}

#quyuneirong .quyuleft img{
    display: none;
    margin: 10px 200px 5px 200px;
}

#quyuneirong .quyuleft a:hover img{
    display: inline;
}

#quyuneirong .quyuleft span{
    background-color: #25A266;
    width: 2px;
    height: 30px;
    display: inline-block;
    margin-right: 20px;
    transition: all .2s;
    position: absolute;
    top: 2px;
    left: -25px;
    visibility: hidden;
}


#quyuneirong .quyuleft a:hover span{
    visibility: visible;
    transform: translateX(15px);
}

#quyuneirong .quyuright{
    width: 64%;
    height: 720px;
    position: relative;
}

#quyuneirong .quyuright .quyucontent{

    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 720px;
}

#quyuneirong .quyuright .quyucontent1{
    background-image: url(../img/123ac3ac5b0f2cfb62f3738885648193.jpeg);
}

#quyuneirong .quyuright .quyucontent2{
    background-image: url(../img/3c6e3f94db657d41d259d3f62ed11d99.png);
}

#quyuneirong .quyuright .quyucontent3{
    background-image: url(../img/180dd8c2384058a2cea5792b2b3e021d.jpeg);
}

#quyuneirong .quyuright .quyucontent4{
    background-image: url(../img/2fef55cb4c97dbabb9469a059b91090c.png);
}

#quyuneirong .quyuright .quyutext{
    color: white;
    font-size: 20px;
    display: inline-block;
    width: 70%;
    line-height: 200%;
    position: absolute;
    left: 30px;
    bottom: 70px;
}
