* {
    padding: 0;
    margin: 0;
}

ol,
ul {
    list-style-type: none;
}

a {
    text-decoration: none;
}

.left{
    float: left;
}

.right{
    float: right;
}

#daohanglan,
#banner,
#shiming,
#jishu,
#fuwu,
#fuwuneirong,
#quyu,
#quyuditu,
#zixun
{
    height: 100%;
    width: 100%;
    border: 1px solid #000;
}
.container{
    width: 1280px;
    height: 100px;
    border: 1px solid red;
    margin:0px auto;
}
.containor{
    margin: auto;
    width: 1280px;
    /* height: 200px; */
    padding-top: 40px;
    background-color: rgb(240,239,239);
    padding-bottom: 30px;
}
.containor_{
    margin: auto;
    width: 1280px;
    /* height: 200px; */
    padding-top: 10px;
    background-color: rgb(240,239,239);
    padding-bottom: 10px;
}

#logo{
    background-color: rgb(240,239,239);
    
}
#table_ table,td,th{
    text-align:left;
    width: 25%
}

#table_ table{
    width: 1000px;
    height: 600px;
}
#table_ th{
    font-size: 21px;
    padding-top: 8px;
    padding-bottom: 8px;
}
#table_ td{
    font-size:14px;
    padding-top: 4px;
    padding-bottom: 4px;
}
#table_ a{
    color:rgb(102,100,100);
}
#table_ a:hover{
    color:rgb(52,168,112);
}

#daohanglan{
    height: 72px;
    position: fixed;    
    background-color: transparent;
}

#daohanglan .container{
    width: 1200px;
    height: 72px;
    /* height: 400px; */
    margin: 0px auto;
    position: relative;
    background-color: gray;
}

#daohanglan .dhllogo{
    width:140px;
    height: 72px;
    line-height: 72px;
}

#daohanglan img{
    margin: 15px;
}

#daohanglan .before .dhllist{
    width: 700px;
    height: 72px;
    line-height: 72px;
}


#daohanglan .before .sp{
    width: 98px;
    text-align: center;
}


#daohanglan .before li{
    font-weight: bold;
    display: inline-block;
    margin: 0px 0px 0 60px;
}
#daohanglan .before li{
    color: white;
}
#daohanglan .before{
    background-color: transparent;
    display: ;
}


#daohanglan .after{
    background-color: white;
    display: none;
}
#daohanglan .after .dhllist{
    width: 700px;
}

#daohanglan .after li{
    height: 200px;
    display: inline-block;
    vertical-align: top;
    text-align: center;
    margin: 0px 0px 0 60px;
}

#daohanglan .after dt{
    font-weight: bold;
    margin: 20px 0 40px;
}

#daohanglan .after dd{
    margin: 20px 0;
    font-size: 14px;
    color: rgb(116,116,116);
}
